.document-edit-page {
  position: relative;

  .document-edit-page-card {
    height: calc(100vh - var(--app-header-szie) - 2.5em);
    overflow: auto;
    position: relative;

    .ant-card-head {
      position: sticky;
      top: 0;
      background-color: white;
      z-index: 1;
    }

    .ant-card-body {
      padding: 0;
    }

    .MuiStack-root {
      position: sticky;
      top: 56px;
      background-color: white;
      z-index: 1;
      padding: 12px 24px;
    }

    .remirror-editor-wrapper {
      padding: 0 24px;

      & > div {
        padding: 0;
      }
    }
  }
}
