
.chatbot {
  .ant-bubble[role=assistant],
  .ant-bubble[role=system],
  .ant-bubble[role=tool],
  .ant-bubble[role=interrupt] {
    position: relative;

    .ant-bubble-avatar {
      position: absolute;
      right: calc(100% + 16px);
    }

    &[role=interrupt] {
      .ant-bubble-content {
        padding: 0;
      }
    }

    &[role=assistant] {
      .ant-bubble-content {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  .ant-bubble[role=user] {
    position: relative;

    .ant-bubble-avatar {
      position: absolute;
      left: calc(100% + 16px);
    }
  }

  .ant-bubble {
    .x-markdown {
      padding: 1em 0;
    }
  }
}
