.invoice-editor {
  .invoice-item {
    display: flex;

    .invoice-image {
      margin-right: 1em;
      position: relative;

      .invoice-deleter {
        position: absolute;
        top: -8px;
        right: -8px;
        background-color: red;
        color: white;
        height: 16px;
        width: 16px;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .anticon {
          transform: scale(0.6);
        }
      }
    }
  }
}
