.websocket-person {
  border-radius: 8px;
  padding: 1em;
  border: solid 1px #d9d9d9;

  .websocket-person-name {
    text-align: center;
    padding-bottom: 1em;
    font-weight: bold;
  }

  .websocket-person-message-list {
    display: flex;
    flex-direction: column;
  }

  .websocket-person-message-item {
    display: inline-block;
    margin: 0.5em 0;

    .websocket-person-message-content {
      background-color: #95ec69;
      padding: 5px 12px;
      border-radius: 4px;
    }

    & > div {
      display: inline-block;
    }

    &[data-role=self] {
      text-align: right;

      .websocket-person-message-name {
        margin-left: 0.5em;
      }
    }

    &[data-role=other] {
      text-align: left;

      .websocket-person-message-name {
        margin-right: 0.5em;
      }
    }
  }
}
